[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
geopandas = "*"
tqdm = "*"
pandas = "*"
folium = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
