[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
folium = "*"
gunicorn = "*"
tqdm = "*"
pandas = "*"
Flask = "*"
Jinja2 = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
