<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style type="text/css">
        a{
            text-decoration:underline;
        }
    </style>

    <!-- Multiple Select -->
    <!--<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->

    <!--<meta name="twitter:card" content="summary" />-->
    <!--&lt;!&ndash;<meta name="twitter:site" content="@ユーザー名" /> /*②*/&ndash;&gt;-->
    <!--&lt;!&ndash;<meta property="og:url" content="記事のURL" /> /*③*/&ndash;&gt;-->
    <!--<meta property="og:title" content="秘境集落探索ツール" />-->
    <!--<meta property="og:description" content="秘境集落を探索し、秘境度順にランキングで出力します。" />-->
    <!--<meta property="og:image" content="https://search-isolated-villages-2.herokuapp.com/static/village.png" />-->

    <!--<title>秘境集落探索ツール</title>-->

</head>
<body>

    <div class="m-3 p-3">
        {% block content%}{% endblock%}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <!--<script src="jquery.multiple.select.js"></script>-->

    <!-- Multiple Select -->
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <!--<script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.js"></script>-->
    <!--<script>-->
    <!--$(function() {-->
      <!--$("#region").multipleSelect({-->
        <!--width: 150-->
      <!--});-->
    <!--});-->
    <!--</script>-->

</body>
</html>